<div class="col-md-6 offset-md-3 mt-4">
  <h3>Register</h3>
  <form (ngSubmit)="signup()" [formGroup]="registerForm">
    <div class="form-group">
      <label for="registerUsername">Username</label>
      <input [ngClass]="registerForm.controls['email'].invalid && registerForm.controls['email'].touched ? 'is-invalid' : '' "
             class="form-control"
             formControlName="email"
             id="registerUsername"
             placeholder="Enter username"
             required>


    </div>
    <div class="form-group">
      <label for="registerPassword">Password</label>
      <input [ngClass]="registerForm.controls['password'].invalid && registerForm.controls['password'].touched ? 'is-invalid' : '' "
             class="form-control"
             formControlName="password"
             id="registerPassword"
             placeholder="Password"
             type="password">
    </div>
    <button [disabled]="!registerForm.valid" class="btn btn-primary" type="submit">Sing up</button>
    <button (click)="FacebookAuth()"> Log in with Facebook </button>
    <button (click)="LoginGmail()"> Log in with Google </button>

  </form>
</div>
